<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="home/css">
  </style>
</head>

<body>


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="\assets\img\logo.png" alt="Digiform logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="#">Home</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="#subjects">Subjects</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#universities">Universities</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#chat">Chat</a>
    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab" href="#profile">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="\assets\img\unkwown_profile.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Subjects
      </h1>
      <h2 class="subsubtitle">
        Search which subjects that have previously been approved by NTNU
      </h2>
    </div>

  </div>
</section>


<section class="section">
  <div class="container columns">

    <div class="column search-section-left is-half">

      <div class="heading">
        <h2 class="subtitle">
          Search for existing subjects
        </h2>
        <br>
      </div>

      <form #f="ngForm" class="login-form" (ngSubmit)="pass">

        <!-- University -->
        <div class="field search-input">
          <label class="label">University</label>
          <span class="select">
            <select name="university" id="university" ngModel>
              <option value="" disabled selected>Choose exchange university</option>
              <option value="{{uni.id}}" *ngFor="let uni of universities">{{uni.title}}</option>
            </select>
          </span>
        </div>


        <!--Course code -->

        <label class="label">NTNU Subject</label>

        <div class="field columns is-mobile">

          <div class="column is-one-third is-gapless">
          <span class="select dropdown-fill">
            <select style="width:100%" (change)="getSubjectByID($event,true)" name="ntnu_subject" id="ntnu_subject"
                    ngModel
                    required>
              <option value="" disabled selected>Choose a subject from NTNU</option>
              <option value="{{subject.id}}" *ngFor="let subject of NTNUsubjects">{{subject.courseCode}}</option>
            </select>
          </span>
          </div>

          <div class="column">
            <p align="left"> {{chosenNtnuSubject}}</p>
          </div>

        </div>

        <!--- might not need this ---

          Approval status

        <div class="field search-input">
          <label class="label">Approval Status</label>
          <p class="control center">
                <span class="select">
                  <select name="approval" id="approval" ngModel>
                    <option value="" disabled selected>Status approval</option>
                    <option value="STATUS_PROCESSING">Processing</option>
                    <option value="STATUS_APPROVED">Approved</option>
                    <option value="STATUS_DECLINED">Declined</option>
                  </select>
                </span>
          </p>
        </div>

        -->

        <!-- Error -->
        <div class="field search-input">
          <p *ngFor="let e of subjectError?.non_field_errors">{{e}}</p>
          <button class="button is-primary" type="submit">Search</button>
        </div>

      </form>


    </div>


    <div class="column search-section-left is-half">

      <div class="heading">
        <h2 class="subtitle">
          Results
        </h2>
        <br>
      </div>

      <table class="table is-striped">
        <thead>
        <tr>
          <th align="left">Subject name</th>
          <th align="left">University</th>
          <th align="left">Course code</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let subject of subjects; let i=index">
          <td align="left">{{subject.title}}</td>
          <td align="left">{{subject.university.title}}</td>
          <td align="left">{{subject.courseCode}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="container">
    <div class="heading">
      <h2 class="subtitle">
        Add new subjects to the database
      </h2>
      <h5 class="subsubtitle">If a subject does not exist in our databases, please feel free to add a subject</h5>
    </div>

    <form class="login-form" (ngSubmit)="createSubjectNavigate()">
      <button class="button is-warning" type="submit">Add a new subject</button>
    </form>


  </div>
</section>




<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Digiform</strong> by <a href="http://github.com/akselreiten">Group XX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">NTNU</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>


</body>
</html>



<!-- DELETE THIS SECTION -->

<div class="heading">

  <body>

  <div class="panes-container">

    <div class="left-pane" id="left-pane">
      <br>
      <a href="#">
        <img src="\assets\img\logo.png" alt="Digiform." style="max-width: 100%;max-height: 100%;width:140px;"></a>
      <br>
      <br>
      <a href="#">Home</a><br>
      <a href="#subjects"><b>Subjects</b></a><br>
      <a href="#universities">Universities</a><br>
      <a href="#chat">Chat</a><br>
      <a href="#profile">My profile</a><br>
      <a href="#help">Help</a>

    </div>
    <div class="right-pane" id="right-pane">
      <br>
      <h1>Subjects</h1>
      <br>

      <br><br><br>
      <div class="inner-panes-container">
        <div class="left-inner-pane">
          <h3>Search Subjects</h3>

          <form #f="ngForm" class="login-form" (ngSubmit)="pass">

            <!-- University -->
            <select name="university" id="university" ngModel>
              <option value="" disabled selected>Velg et universitet i utlandet</option>
              <option value="{{uni.id}}" *ngFor="let uni of universities">{{uni.title}}</option>
            </select>
            <br><br>
            <!-- Replacement subject -->

            <input type="text" name="title" id="title" placeholder="Fagnavn inneholder" ngModel>
            <br><br>

            <!--Course code -->
            <p class="control">
              <input class="input" type="text" name="courseCode" id="courseCode" placeholder="Fagkode" ngModel>
            </p>

            <!--Approval status-->
            <p class="control center">
              <span class="select">
                <select name="approval" id="approval" ngModel>
                  <option value="" disabled selected>Status godkjenning</option>
                  <option value="STATUS_PROCESSING">Under behandling</option>
                  <option value="STATUS_APPROVED">Godkjent</option>
                  <option value="STATUS_DECLINED">Ikke godkjent</option>
                </select>
              </span>
            </p>


            <!-- Error -->
            <p *ngFor="let e of subjectError?.non_field_errors">{{e}}</p>
            <br><br>
            <button class="button is-primary" type="submit">Search</button>

          </form>
          <br><br>
          <form class="login-form" (ngSubmit)="createSubjectNavigate()">
            <button type="submit">Add a new subject</button>
          </form>

        </div>

        <div class="panes-separator" id="panes-separator"></div>

        <div class="right-inner-pane">
          <h3>Results</h3>
          <p><i>
            Dette er inntil videre litt hardkodet. Klarer enda ikke sende infoen fra skjemaet til høyre inn som et
            query.
          </i></p>
          <br>

          <table align="center">

            <tr>
              <th align="left">Subject name</th>
              <th align="left">University</th>
              <th align="left">Course code</th>
            </tr>
            <tr *ngFor="let subject of subjects; let i=index">

              <td align="left">{{subject.title}}</td>
              <td align="left">{{subject.university.title}}</td>
              <td align="left">{{subject.courseCode}}</td>

            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>
  </body>
</div>
