<div class="heading">

  <body>

  <div class="panes-container">

    <div class="left-pane" id="left-pane">
      <br>
      <a href="#">
        <img src="\assets\img\logo.png" alt="Digiform." style="max-width: 100%;max-height: 100%;width:140px;"></a>
      <br>
      <br>
      <a href="#">Home</a><br>
      <a href="#subjects"><b>Subjects</b></a><br>
      <a href="#universities">Universities</a><br>
      <a href="#chat">Chat</a><br>
      <a href="#profile">My profile</a><br>
      <a href="#help">Help</a>

    </div>
    <div class="right-pane" id="right-pane">
      <br>
      <h1>Subjects</h1>
      <br>

      <br><br><br>
      <div class="inner-panes-container">
        <div class="left-inner-pane">
          <h3>Search Subjects</h3>

          <form #f="ngForm" class="login-form" (ngSubmit)="pass">

            <!-- University -->
            <select name="university" id="university" ngModel>
              <option value="" disabled selected>Velg et universitet i utlandet</option>
              <option value="{{uni.id}}" *ngFor="let uni of universities">{{uni.title}}</option>
            </select>
            <br><br>
            <!-- Replacement subject -->

            <input type="text" name="title" id="title" placeholder="Fagnavn inneholder" ngModel>
            <br><br>

            <!--Course code -->
            <p class="control">
              <input class="input" type="text" name="courseCode" id="courseCode" placeholder="Fagkode" ngModel>
            </p>

            <!--Approval status-->
            <p class="control center">
              <span class="select">
                <select name="approval" id="approval" ngModel>
                  <option value="" disabled selected>Status godkjenning</option>
                  <option value="STATUS_PROCESSING">Under behandling</option>
                  <option value="STATUS_APPROVED">Godkjent</option>
                  <option value="STATUS_DECLINED">Ikke godkjent</option>
                </select>
              </span>
            </p>


            <!-- Error -->
            <p *ngFor="let e of subjectError?.non_field_errors">{{e}}</p>
            <br><br>
            <button class="button is-primary" type="submit">Search</button>

          </form>
          <br><br>
          <form class="login-form" (ngSubmit)="createSubjectNavigate()">
            <button type="submit">Add a new subject</button>
          </form>

        </div>

        <div class="panes-separator" id="panes-separator"></div>

        <div class="right-inner-pane">
          <h3>Results</h3>
          <p><i>
            Dette er inntil videre litt hardkodet. Klarer enda ikke sende infoen fra skjemaet til høyre inn som et
            query.
          </i></p>
          <br>

          <table align="center">

            <tr>
              <th align="left">Subject name</th>
              <th align="left">University</th>
              <th align="left">Course code</th>
            </tr>
            <tr *ngFor="let subject of subjects; let i=index">

              <td align="left">{{subject.title}}</td>
              <td align="left">{{subject.university.title}}</td>
              <td align="left">{{subject.courseCode}}</td>

            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>
  </body>
</div>
