<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="home/css">
  </style>
</head>

<body>


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="#">
        <img src="\assets\img\logo.png" alt="Digiform logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="#">Home</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="#subjects">Subjects</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#universities">Universities</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#chat">Chat</a>
    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab" href="#profile">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="\assets\img\unkwown_profile.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Subjects
      </h1>
      <h2 class="subsubtitle">
        Search for subjects within our databases
      </h2>
    </div>

  </div>
</section>


<section class="section">
  <div class="container columns search-section-left">

    <div class="column ">

      <div class="heading">
        <h2 class="subtitle">
          Search
        </h2>
        <br>
      </div>

      <form #f="ngForm" class="login-form" (ngSubmit)="getSubjects(f)">


        <!--Course code -->
        <label class="label">NTNU Subject</label>

        <div class="field columns is-mobile">

          <div class="column is-half is-gapless">
          <span class="select">
            <select style="width:100%" (change)="getSubjectByID($event,true); getSubjects(f)" name="ntnu_subject" id="ntnu_subject"
                    ngModel>
              <option value="" selected>Any NTNU subject</option>
              <option value="{{subject.id}}" *ngFor="let subject of NTNUsubjects">{{subject.courseCode}}</option>
            </select>
          </span>
          </div>

          <div class="column">
            <p align="center" > {{chosenNtnuSubject}}</p>
          </div>
        </div>

        <!-- University -->
        <div class="field search-input">
          <label class="label">University</label>
          <span class="select">
            <select style="width:100%" name="university" (change)="getSubjects(f)" id="university" ngModel>
              <option value="">Any university</option>
              <option value="{{uni.id}}" *ngFor="let uni of universities">{{uni.title}}</option>
            </select>
          </span>
        </div>

        <label class="label">Approval Status</label>

        <div class="field columns is-mobile">

          <div class="column is-one-third is-gapless">
          <span class="select dropdown-fill">
            <select style="width:auto" (change)="getSubjects(f)" name="approval_status" id="approval_status"
                    ngModel>
              <option value="" selected>Allow any approval status</option>
              <option value="1">Allow only approved subjects</option>
            </select>
          </span>
          </div>

        </div>

        <!-- Error -->
        <div class="field search-input">
          <p *ngFor="let e of subjectError?.non_field_errors">{{e}}</p>
          <button class="button is-primary" type="submit">Search</button>
        </div>

      </form>
    </div>



    <div class="column is-70%">

      <div class="heading">
        <h2 class="subtitle">
          Results
        </h2>
        <br>
      </div>

      <table class="table is-striped">
        <thead>
        <tr>
          <th align="left">NTNU subject</th>
          <th align="left">Replacing subject</th>
          <th align="left">University</th>
          <th align="left">Course code</th>
          <th align="left">Approval status</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let app of allApplications; let i=index">
          <td align="left">{{app.ntnu_subject.title}}</td>
          <td align="left">{{app.replacing_subject.title}}</td>
          <td align="left">{{app.replacing_subject.university.title}}</td>
          <td align="left">{{app.replacing_subject.courseCode}}</td>
          <td align="left">{{app.application_status}}</td>

        </tr>
        </tbody>
      </table>

    </div>

  </div>

  <!--
  <div class="container">
    <div class="heading">
      <h2 class="subtitle">
        Add new subjects to the database
      </h2>
      <h5 class="subsubtitle">If a subject does not exist in our databases, please feel free to add a subject</h5>
    </div>

    <form class="login-form" (ngSubmit)="createSubjectNavigate()">
      <button class="button is-warning" type="submit">Add a new subject</button>
    </form>

  </div>

  -->

</section>


<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add new subjects to the database
      </h1>
      <h2 class="subsubtitle">
        If a subject does not exist in our databases, please feel free to add a subject
      </h2>
      <br>

      <form class="login-form" (ngSubmit)="createSubjectNavigate()">
        <button class="button is-primary" type="submit">Add a new subject</button>
      </form>

    </div>


  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Digiform</strong> by <a href="http://github.com/akselreiten">Group XX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">NTNU</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>


</body>
</html>
