<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="home/css">
  </style>

</head>

<body>


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="\assets\img\logo.png" alt="Digiform logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="#">Home</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#subjects">Subjects</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#universities">Universities</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="#chat">Chat</a>
    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab" href="#profile">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="\assets\img\unkwown_profile.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Chat
      </h1>
      <h2 class="subsubtitle">
        Chat with your supervisors. Better chats. Better travels.
      </h2>
    </div>
  </div>
</section>


<section class="section">

  <div class="container">

  <form #f="ngForm" class="login-form" (ngSubmit)="sendMessage(f)">

    <div class="field">
      <label class="label">Enter your message here</label>
      <p class="control">
        <textarea class="textarea" name="text" id="text" placeholder="Aa" ngModel required></textarea>
      </p>
    </div>

    <p *ngFor="let e of sendMessageError?.non_field_errors">{{e}}</p>

    <button class="button is-success" type="submit">Send</button>
    <!--
    <button class="button is-warning">Reset</button>
    <button class="button is-danger">Quit</button>
    -->
  </form>

  </div>

  <div class="container">

    <table class="table is-striped is-pulled-left">
      <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
      </colgroup>
      <thead>
      <tr>
        <th><abbr title="Sender">Sender</abbr></th>
        <th><abbr title="Message">Message</abbr></th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let msg of messages; let i=index">
        <td>{{msg.sender?.first_name}}</td>
        <td>{{msg.text}}</td>
      </tr>
      </tbody>
    </table>

    <div class="box is-pulled-left" style="width: 90%" >
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box is-pulled-right" style="width: 90%">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Sjur Waagboe</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
            </p>
          </div>
        </div>
      </article>
    </div>



  </div>
</section>


<footer class="footer is-pulled-left">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Digiform</strong> by <a href="http://github.com/akselreiten">Group XX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">NTNU</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</body>
</html>
