<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="home/css">
  </style>

</head>

<body>


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="#">
        <img src="\assets\img\logo.png" alt="Digiform logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="#">Home</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#subjects">Subjects</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#universities">Universities</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="#chat">Chat</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#reviews">Reviews</a>
    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab" href="#profile">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="\assets\img\unkwown_profile.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab" type="submit" (click)='logout()'>Log out</a>
    </div>
  </div>
</nav>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Chat
      </h1>
      <h2 class="subsubtitle">
        Chat with your supervisors. Better chats. Better travels.
      </h2>
    </div>
  </div>
</section>


<section class="section">

  <div class="container">

  <form #f="ngForm" class="login-form" (ngSubmit)="sendMessage(f)">

    <div class="field">
      <label class="label">Enter your message here</label>
      <p class="control">
        <textarea class="textarea" name="text" id="text" placeholder="Aa" ngModel required></textarea>
      </p>
    </div>

    <p *ngFor="let e of sendMessageError?.non_field_errors">{{e}}</p>
    <button class="button is-success" type="submit" onclick="window.location.reload()" >Send</button>

    <!--
    <button class="button is-warning">Reset</button>
    <button class="button is-danger">Quit</button>
    -->
  </form>

  </div>

  <div class="container">
    <br>
    <tr *ngFor="let msg of messages; let i=index">
      <div class="box is-pulled-left" style="width: 100%" >
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{msg.sender?.first_name}} {{msg.sender?.last_name}}</strong> <small>{{msg.time_stamp.slice(0,10)}}</small> <small>{{msg.time_stamp.slice(11,16)}}</small>
                <br>
                {{msg.text}}
              </p>
            </div>
          </div>
        </article>
      </div>
      <br><br>
    </tr>

  </div>
</section>


<footer class="footer is-pulled-left">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Digiform</strong> by <a href="http://github.com/akselreiten">Group XX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">NTNU</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</body>
</html>
