
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="home/css">
  </style>

</head>

<body>

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="#">
        <img src="\assets\img\logo.png" alt="Digiform logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="#">Home</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#subjects">Subjects</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#universities">Universities</a>
      <a class="nav-item is-tab is-hidden-mobile" href="#chat">Chat</a>
      <a class="nav-item is-tab is-hidden-mobile is-active" href="#reviews">Reviews</a>

    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="\assets\img\unkwown_profile.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add New Review
      </h1>
      <h2 class="subsubtitle">
        Add a new review of a university
      </h2>
    </div>

  </div>
</section>


<section class="section">
  <div class="container">

    <form #f="ngForm" class="login-form" (ngSubmit)="createReview(f)">

      <!-- University -->
      <div class="field search-input">
        <label class="label">University</label>
        <span class="select">
            <select style="width:100%" name="university" id="university" ngModel required>
              <option value="" selected disabled>Any university</option>
              <option value="{{uni.id}}" *ngFor="let uni of universities">{{uni.title}}</option>
            </select>
          </span>
      </div>

      <div class="field">
        <label class="label">Lectures rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="lectures_rating" id="lectures_rating"
               placeholder="Please rate the lectures" ngModel required>
      </div>

      <div class="field">
        <label class="label">Assigments rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="assignments_rating" id="assignments_rating"
               placeholder="Please rate the assignments" ngModel required>
      </div>

      <div class="field">
        <label class="label">Difficulty rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="difficulty_rating" id="difficulty_rating"
               placeholder="Please rate the difficulty of the subjects" ngModel required>
      </div>

      <div class="field">
        <label class="label">Social rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="social_rating" id="social_rating"
               placeholder="Please rate your social experience" ngModel required>
      </div>

      <div class="field">
        <label class="label">Availability rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="course_availability_rating" id="course_availability_rating"
               placeholder="Please rate the course availability" ngModel required>
      </div>

      <div class="field">
        <label class="label">Price rating</label>
        <input class="input" type="number" step="1" max="5" min="1" name="price_rating" id="price_rating"
               placeholder="Please rate the price level" ngModel required>
      </div>


      <div class="field">
        <label class="label">Description</label>
        <textarea class="textarea" name="justification" id="justification" placeholder="Please describe your stay" ngModel required></textarea>
      </div>


      <!-- Error -->
      <p *ngFor="let e of createApplicationError?.non_field_errors">{{e}}</p>

      <button class="button is-success" type="submit">Create</button>

      <a class="button is-warning" type="button" href="#reviews">Cancel</a>

    </form>

  </div>
</section>


<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add new subjects to the database
      </h1>
      <h2 class="subsubtitle">
        If a subject does not exist in our databases, please feel free to add a subject
      </h2>
      <br>

      <form class="login-form" (ngSubmit)="createSubjectNavigate()">
        <button class="button is-primary" type="submit">Add a new subject</button>
      </form>

    </div>


  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Digiform</strong> by <a href="http://github.com/akselreiten">Group XX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">NTNU</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>



</body>



<!-- DELETE EVERYTHING HERE AND DOWN -->
