<div class="heading">

  <h1>Login</h1>
  <!--<p *ngFor="let subject of subjects">{{subject.title}}</p>-->

  <form #f="ngForm" class="login-form" (ngSubmit)="login(f)">

    <!-- Username -->
    <input type="text" name="username" id="username" placeholder="Username" ngModel required>

    <!-- Password -->
    <input type="password" name="password" id="password" placeholder="Password" ngModel required>

    <!-- Login error -->
    <p *ngFor="let e of loginError?.non_field_errors">{{e}}</p>

    <button type="submit">Login</button>

  </form>

  <br>
  <br>

  <form class="login-form" (ngSubmit)="createUserNavigate()">
    <button type="submit">New user?</button>

  </form>


</div>
