<div class="heading">

  <body>

  <div class="panes-container">

    <div class="left-pane" id="left-pane">
      <br>
      <a href="#">
        <img src="\assets\img\logo.png" alt="Digiform." style="max-width: 100%;max-height: 100%;width:140px;"></a>
      <br>
      <br>
      <a href="#">Home</a><br>
      <a href="#subjects">Subjects</a><br>
      <a href="#universities"><b>Universities</b></a><br>
      <a href="#chat">Chat</a><br>
      <a href="#profile">My profile</a><br>
      <a href="#help">Help</a>

    </div>
    <div class="right-pane" id="right-pane">
      <br>
      <h1>Universities</h1>
      <br>

      <br><br><br>
      <div class="inner-panes-container">
        <div class="left-inner-pane">
          <h3>Search Universities</h3>

          <form #f="ngForm" class="login-form" (ngSubmit)="pass">

            <!-- University title -->

            <input type="text" name="title" id="title" placeholder="Navn inneholder" ngModel>
            <br><br>

            <!-- City -->

            <input type="text" name="city" id="city" placeholder="By" ngModel>
            <br><br>

            <!--Country -->
            <input type="text" name="country" id="country" placeholder="Land" ngModel>


            <!-- Error -->
            <p *ngFor="let e of subjectError?.non_field_errors">{{e}}</p>
            <br><br>
            <button type="submit">Search</button>
          </form>
        </div>

        <div class="panes-separator" id="panes-separator"></div>

        <div class="right-inner-pane">
          <h3>Results</h3>
          <p><i>
            Dette er inntil videre litt hardkodet. Klarer enda ikke sende infoen fra skjemaet til høyre inn som et
            query.
          </i></p>
          <br>

          <table align="center">

            <tr>
              <th>Name</th>
              <th>City</th>
              <th>Country</th>
            </tr>
            <tr *ngFor="let uni of universities; let i=index">

              <td>{{uni.title}}</td>
              <td>{{uni.city}}</td>
              <td>{{uni.country}}</td>

            </tr>
          </table>

        </div>
      </div>


    </div>
  </div>
  </body>
</div>
